.fullMapWrapper {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
}

.marketPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.marketPreviewPhoto {
    width:20vw;
    height:25vh;
    border-radius: 5px;
    margin:10px;
}

.crowdIndicator {
    margin:20px;
    width: 90%;
}

.marketPreviewInfo {
    text-align: center;
}

.marketPreview:hover {
    cursor: pointer;
}

.marketPreviewInfo > p {
    margin: 15px;
}
