.footer-container {
    display:flex;
    justify-content:space-around;
    position: absolute;
    top: 100vh;
    left: 0;right:0;
    transition: 0.2s;
}

.footer-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.footer-container > div :hover {
    cursor: pointer;
}

.description {
    height: 35vh;
    width: 35vw;
}

.description  * {
    margin:7px;
}

.links {
    align-self: center;
    display: flex;
    justify-content: space-around;
 }

 .links > * {
     margin:15px;
 }
