.SecondaryPage {
    min-height: 100vh;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;
    min-height: 60vh;
    background-color:rgba(255, 255, 255,0.95);
    border-radius:10px;
    margin: 20px;
}

.actionsWrapper {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.actionWrapper {
    margin-left: 13px;
    margin-right: 13px;
}

.actionWrapper:hover {
    cursor: pointer;
}
