@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
    font-family: 'Poiret One', cursive;
}

::-moz-selection { /* Code for Firefox */
    background-color: #F48F3A;
    color: black;
}

::selection {
    background-color: #F48F3A;
    color: black;
}
